* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.Main {width: 100%; padding: 25px;}
.text-center {text-align: center;}

h1 {margin-top: 40px; margin-bottom: 10px;}

img {width: 70px; margin: 30px auto;}
.btn {border: 0; border-radius: 5px; margin-top: 50px; height: 60px; width: 200px; font-style: 20px; font-weight: 500; cursor: pointer; color: var(--tg-theme-button-text-color); background: var(--tg-theme-button-color);}
form {display: none; text-align: center;}

input {outline: none; border-radius: 5px; border: 2px solid #535353; padding: 15px 10px; margin: 10px 0 0; background: var(--tg-theme-section-separator-color); color: var(--tg-theme-text-color); transition: all .2s;}
input:focus {border-color: var(--tg-theme-secondary-bg-color);}

#feedbackForm {flex-direction: column; align-items: center; justify-content: center; gap: 15px;}

textarea {border-radius: 5px; border: 2px solid #535353; padding: 15px 10px; margin: 10px 0 0;}

.page_wrapper {padding: 40px 0;}
.page_wrapper .btn_list {display: flex; flex-wrap: wrap; gap: .5rem; padding-top: 20px;}
.page_wrapper .btn_list a {display: flex; align-items: center; padding: 16px 30px; border-color: unset; border-radius: 10px; text-decoration: none; color: var(--tg-theme-button-text-color); background: var(--tg-theme-button-color);} 


/* Стилизация личного кабинета */
.little-slider {padding: 30px 0;}
.little-slider img {border-radius: 20px;}

.services {display: flex; gap: 16px; align-items: stretch; justify-content: stretch;}
.services .full {padding: 15px; width: 50%; height: 500px;}
.services .half {padding: 15px; width: 25%; height: 200px; border-radius: 20px; background: url('../image/tropical-swiss.jpg') no-repeat; background-size: cover;}